<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express intro</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <h1>Welcome to our beautiful landing page.</h1>

    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam enim
      aspernatur quod earum, consequatur sed! Voluptates illum in accusamus
      dicta eligendi autem non laborum, facilis assumenda, sapiente nostrum
      beatae nam.
    </p>

    <a href="/john-doe">meet John Doe...</a>
  </body>
</html>
